<h1>New Order</h1>

<%= form_with(model: @order, local: true, html: { novalidate: true }) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, required: true, pattern: '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, required: true %>
  </div>

  <div class="actions">
    <%= form.submit "Place Order" %>
  </div>
<% end %>


<%= link_to 'Back', orders_path %>
