<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingCart3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="stripe-publishable-key" content="<%= Rails.configuration.stripe[:publishable_key] %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <%= render partial: "layouts/partials/nav" %>
    <%= yield %>
     <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  </body>

</html>
